<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Veicolo</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../public/mobile.css" />
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>
  <header>
    <div class="d-flex justify-content-center">
    <div class="container text-center  " >
      <div class="box">
        <div class="col-md-7 col-sm-12  "style="float:none;margin:auto;">
          <h4>Welcome to</h4>
          <h1>Veicolo</h1>
          <img src="../public/draw.svg" style="width:300px;">
          <p>
            Double parking is one of the key contributors to traffic congestion on urban streets.
            Veicolo is the website that provides a solution to double parking problem.
          </p>
          <a href="/users/login" class="btn-general"role="button">Sign in</a>&nbsp;&nbsp;&nbsp;
          <a href="/users/register" class="btn-genes"role="button">Sign up</a>
        </div>

      </div>
    </div>
    </div>
  </header>
  <main>

    <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="overlay"> </div>
        <div class="content text-center">

          <p>Let Veicolo organize double-parking in your community </p>

        </div>
      </div>



      <div class="howtouse text-center">
        <h1>How to use Veicolo</h1>

        <div class="cards">
          <div class="d-flex flex-row justify-content-center flex-wrap">
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">1</h5>
                </div>
                <p class="card-text">
                  Register your account on our website
                </p>
                <div class="imag">
                  <img src="../public/Regis.svg" style="width:300px;">

                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">2</h5>
                </div>
                <p class="card-text">
                 Sign in to our dashboard page.
                </p>
                <div class="imag">
                  <img src="../public/in.svg" style="width:300px;">

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">3</h5>
                </div>
                <p class="card-text">
                  Search car registration information.
                </p>
                <div class="imag">
                  <img src="../public/log.svg" style="width:300px;">

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">4</h5>
                </div>
                <p class="card-text">
                  Add line official account.
                </p>
                <div class="imag">
                  <img src="../public/LINE_APP.png" style="width:150px;">

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">5</h5>
                </div>
                <p class="card-text">
                  Search car registration in chat.
                </p>
                <div class="imag">
                  <img src="../public/search.svg" style="width:300px;">

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">6</h5>
                </div>
                <p class="card-text">
                 Receive car registration information.
                </p>
                <div class="imag">
                  <img src="../public/perin.svg" style="width:300px;">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-3 container-fluid p-0 text-center">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>Let's join our website to make parking in our community better.</h1>
          <p>
            Our service available on two platforms include website and Line official account.
          </p>
        </div>
      </div>
      <div class="platform row">
        <div class="col-md-6 col-sm-12 text-right">
          <div class="desktop shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fas fa-globe fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">Website</h3>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 text-left">
          <div class="desktop shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fab fa-line fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0"><a href="https://lin.ee/C4fvaoS"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/th.png" alt="เพิ่มเพื่อน" height="36" border="0"></a></h3>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>