@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
  box-sizing: border-box;
  
}
body{
  background-color: rgba(255, 220, 191, 0.644);

}
header,
section,footer {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #f7c190, #ffad9d);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header .box .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header {

  /* fallback for old browsers */
  background: var(--bggradient);

}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h4 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 4vmin 5vmin;
}



.btn-general {
  border-radius: 28px;
  font-family: 'Didact Gothic';
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 46px 12px 46px;
  transition: all 0.4s;
  background-color: orange;
  color: white;
}

.btn-genes {
  border-radius: 28px;
  font-family: 'Didact Gothic';
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 46px 12px 46px;
  transition: all 0.4s;
  background-color: rgb(49, 206, 70);
  color: white;
}


/*  Section 2  */

.cover {
  width: 100%;
  height: 55vmin;
  background: url("../public/ca.jpg");
  background-position: -16rem -25rem;
  background-size: 150%;
  background-repeat: no-repeat;
  position: relative;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55vmin;
  z-index: -1;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 19vmin;
}

.cover .content>p {
  font-family: "Rubik", sans-serif;
  font-size: 4vmin;
  color: whitesmoke;
  margin-top: 5%;
}






.howtouse>h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: "Rubik", sans-serif;
}



.howtouse .cards .card {
  width: 22rem;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
}

.cards .card-body>p {
  color: black;
  font-size: 2.5vmin;
}

.cards .title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card .card-text {
  padding: 2.5rem 3rem;
  color: var(--light-black);
}

.card-body .imag {
  background: rgba(208, 241, 241, 0.199);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .imag>h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}

/* Section 3 */

.section-3 {
  height: 70vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12>h1 {
  padding: 2em 0 0.5em 0;
  color: rgb(36, 30, 48);
  font-size: 5vmin;
}

.section-3 .col-md-12>p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}

/* Section Team */






